<div class="custom-ml">

    <div style="margin-top: 20px; padding-top: 20px;">

        <div class="container" *ngFor="let member of teamLeaveSummary" >
            <div class="row cus-card" style="margin-bottom: 12px;">
                <div class="col h1 cus-h1">{{member.employeeName}}</div>
                <div class="col bordered-col text-center">
                    <span class="h4 cus-h1">{{member.compensatoryOff}}/5</span>
                    <br>
                    <span class="cus-h2">Compensatory Off</span>
                </div>
                <div class="col bordered-col text-center">
                    <span class="h4 cus-h1">{{member.lossOffPay}}/5</span>
                    <br>
                    <span class="cus-h2">Loss of Pay</span>
                </div>
                <div class="col bordered-col text-center">
                    <span class="h4 cus-h1">{{member.personalTimeOff}}/15</span>
                    <br>
                    <span class="cus-h2">Personal Time Off</span>
                </div>
                <div *ngIf="member.gender.startsWith('Female')" class="col bordered-col text-center">
                    <span class="h4 cus-h1">{{member.maternityLeave}}/90</span>
                    <br>
                    <span class="cus-h2">Maternity Leave</span>
                </div>
                <div *ngIf="member.gender.startsWith('Male')" class="col bordered-col text-center">
                    <span class="h4 cus-h1">{{member.paternityLeave}}/9</span>
                    <br>
                    <span class="cus-h2">Paternity Leave</span>
                </div>
            </div>
        </div>
    </div>
    
</div>