<nav>
    <div class="d-flex justify-content-between main-nav">
      <div class="d-flex justify-content-between">
        <div class="" style="margin-left: 10px;"><a routerLink="/my-data" routerLinkActive="active-link">My Data</a></div>
        <div  style="margin-left: 10px;"><a routerLink="/team" routerLinkActive="active-link">Team</a></div>
      </div>
      <div class="">
        <div>
          <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Dropdown links
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  
  <ng-container *ngIf="isMyDataActive()">
    <ul class="sub-nav">
      <li><a routerLink="/my-data/leave-summary" routerLinkActive="active-link">Leave Summary</a></li>
      <li><a routerLink="/my-data/leave-requests" routerLinkActive="active-link">Leave Requests</a></li>
    </ul>
  </ng-container>
  
  <ng-container *ngIf="isTeamActive()">
    <ul class="sub-nav">
      <li><a routerLink="/team/team-leaves" routerLinkActive="active-link">Team Leaves</a></li>
      <li><a routerLink="/team/team-summary" routerLinkActive="active-link">Team Summary</a></li>
    </ul>
  </ng-container>
  <!-- <router-outlet></router-outlet> -->
  