<div class="d-flex justify-content-center">
    <div class="w-25">
        <div class="container" style="background-color: #fff; border-radius: 8px; margin-top: 140px">
            <div style="padding:26px; padding-top: 60px; padding-bottom: 60px;">

                <form [formGroup]="profileForm">
                    <h2 class="text-center">Login</h2>
                    <label class="w-100" for="">Email Address</label> <br>
                    <input class="w-100" required type="email" formControlName="email"> <br>
                
                    <label class="w-100" for="">password</label> <br>
                    <input class="w-100" required type="password" formControlName="password">
                </form>
                <br>
                <div class="text-center ">
                    <div>
                        <p style="color: red;">{{text}}</p>
                        <button class="btn btn-primary w-100" style="color: black; background:linear-gradient(353deg, #5B63D3 17.51%, #7C87F7 183.08%);" (click)="updateProfile()">Sign In</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  