<div class="d-flex justify-content-around" style=" margin-bottom: 20px;">
        <div class=" text-center cus-card w-100" style="margin: 0px 20px 0px 20px;">
                <h4 class="cus-h1">Compensatory Off</h4>
                <div>
                    <div class="cus-h2">Available</div>
                    <h5 class="cus-h1">{{5}}</h5>
                    <div class="cus-h2">Booked</div>
                    <h5 class="cus-h1">{{leaveCards.compensatoryOff}}</h5>
                </div>
        </div>
        <div class=" text-center cus-card w-100" style="margin: 0px 20px 0px 20px;">
            <h4  class="cus-h1 ">Loss Off Pay</h4>
            <div >
                <div class="cus-h2">Available</div>
                <h5 class="cus-h1">{{5}}</h5>
                <div class="cus-h2">Booked</div>
                <h5 class="cus-h1">{{leaveCards.lossOffPay}}</h5>
            </div>
        </div>
        <div class=" text-center cus-card w-100" style="margin: 0px 20px 0px 20px;">
            <h4  class="cus-h1">Personal Time Off</h4>
            <div >
                <div class="cus-h2">Available</div>
                <h5 class="cus-h1">{{15}}</h5>
                <div class="cus-h2">Booked</div>
                <h5 class="cus-h1">{{leaveCards.personalTimeOff}}</h5>
            </div>
        </div>

        <div *ngIf="employeeDetails.employeeGender==='Male'" class=" text-center cus-card w-100" style="margin: 0px 20px 0px 20px;">
            <h4  class="cus-h1">Paternity Leave</h4>
            <div >
                <div class="cus-h2">Available</div>
                <h5 class="cus-h1">{{9}}</h5>
                <div class="cus-h2">Booked</div>
                <h5 class="cus-h1">{{leaveCards.paternityLeave}}</h5>
            </div>
        </div>
        <div *ngIf="employeeDetails.employeeGender==='Female'" class=" text-center cus-card w-100" style="margin: 0px 20px 0px 20px;">
            <h4 class="cus-h1">Maternity Leave</h4>
            <div >
                <div class="cus-h2">Available</div>
                <h5 class="cus-h1">{{90}}</h5>
                <div class="cus-h2">Booked</div>
                <h5 class="cus-h1">{{leaveCards.maternityLeave}}</h5>
            </div>
        </div>
</div>