
<div style="background-color:#ffff; border-radius: 8px;">

    <div class="" style="margin: 8px; ">
        <div style="padding: 12px;">

            <h2 class="">Upcomming Leaves & Holidays</h2>
            <ul *ngFor="let holidays of holidays" class="border-bottom border-primary border-1 opacity-75">
                <div >
                    <li class="d-flex justify-content-between">
                        <span>{{holidays.holidayDate}}</span>
                        <span>{{holidays.holidayName}}</span>
                    </li>
                </div>
            </ul>
        </div>
    
    </div>
</div>
