<div class="custom-ml">
    <h2 >Leave Requests</h2>
    <table class="w-100 text-center">
        <thead class="bg-primary">
            <tr>
                <th>Name</th>
                <th>Leave Type</th>
                <th>Reason</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>Leave Count</th>
                <th>Applied On</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let leave of teamLeaveRequests">
                <td>{{leave.employeeName}}</td>
                <td>{{leave.leaveType}}</td>
                <td>{{leave.reason}}</td>
                <td>{{leave.fromDate}}</td>
                <td>{{leave.toDate}}</td>
                <td>{{leave.leaveCount}}</td>
                <td>{{leave.createdAt}}</td>
                <td>
                    <img *ngIf="leave.status==='Approved'" src="assets/images/check-mark.png" alt="" height="40px">
                    <img *ngIf="leave.status==='Rejected'" src="assets/images/multiplication.png" alt="" height="40px">
                    <div *ngIf="leave.status==='Pending'">
                        <a href="#">
                            <img src="assets/images/check-mark.png" alt="" height="40px">
                        </a>
                        <a href="#">
                            <img src="assets/images/multiplication.png" alt="" height="24px">
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
